.test_image_and_result {
    background-color: rgb(180, 231, 255);
    border-radius: 30px;
    margin-top: 30px;
}
h5 {
    background-color: white;
    border-radius: 30px;
}
.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
  }